html, body{
  margin-top: 2%;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
  /* background-image: url('https://cdn.discordapp.com/attachments/734483808950288414/736644361600893088/space.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; */
}
input{
  font-family: 'Quicksand', sans-serif;
  border-color:rgb(23, 136, 155);
  background-color: black;
  color: white;
  font-size: 12pt;
  padding: 5px 10px;
  border-radius: 6px;
  margin-right: 10px;
}

button{
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(23, 136, 155);
  border-color: transparent;
  color: white;
  font-size: 12pt;
  padding: 5px 10px;
  border-radius: 6px;
  transition-duration: 0.4s;
}

button:hover{
  border-color: rgb(23, 136, 155);
  background-color: rgba(23, 135, 155, 0.26);
}

#waiting {
	width: 20vmin;
}

all {
	position: absolute;
	left: 0;
	top: 0;
	background: black;
	width: 100%;
	min-height: 100%;
}

hr{
  border: 1px, rgb(23, 136, 155);
}

.messages{
  text-align: left;
  padding: 5%;
  background-color: rgb(28, 69, 80);
  margin: 10%;
  float:left;
}



#text{
  position: fixed;
  bottom: 0;
  width: 100%;
}